* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: radial-gradient(white, pink);
}
.main_todo {
    width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}