* {
    box-sizing: border-box;
}
body {
    height: 450px;
    margin: 0;
    padding: 0;
    background: radial-gradient(pink, white);
    background-repeat: no-repeat;
}
.main_todo {
    background-color: white;
    width: 400px;
    min-height: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.date {
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.299);
}
#date {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: pink;
    font-weight: 600;
    font-size: 19px;
}
.main_todo h1 {
    font-size: 20px;
    text-align: center;
    padding: 15px 0 0 15px;
    cursor: context-menu;
}
form {
    padding: 5px 0 0 33px;
    position: relative;
}
.input {
    margin-right: 10px;
    padding: 5px;
    height: 25px;
    width: 60%;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    font-size: 15px;
}
.input:focus {
    outline: none !important;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.712);
}
button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: rgb(251, 216, 222);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
button:hover {
    background-color: rgb(250, 203, 211);
}
.ul_li {
    padding: 5px;
}
ul li {
    padding: 5px 6px 12px 25px;
    list-style: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: "";
    background-image: url("unn.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 20px;
    width: 20px;
    left: -8px;
    top: 4px;
}
.checked {
    color: gray;
    text-decoration: line-through;
}
.checked::before {
    background-image: url("check_new.png");
}
ul li span {
    position: absolute;
    right: 25px;
    padding: 5px;
    color: gray;
}
ul li span:hover {
    color: black;
}