* {
    box-sizing: border-box;
}
body {
    height: 600px;
    margin: 0;
    padding: 0;
    background: radial-gradient(pink, white);
    background-repeat: no-repeat;
}
.main_todo {
    background-color: white;
    width: 400px;
    min-height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.date {
    text-align: center;
    font-size: 17px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.299);
}
#date {
    padding: 15px;
    margin: 4px;
    color: pink;
    font-weight: 600;
    font-size: 18px;
}
.main_todo h1 {
    font-size: 20px;
    text-align: center;
    padding: 15px 0 0 15px;
}
form {
    padding: 5px 0 0 20px;
    position: relative;
}
.input {
    margin-right: 10px;
    padding: 5px;
    height: 25px;
    width: 60%;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.493);
    font-size: 15px;
}
.input:focus {
    outline: none !important;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.712);
}
button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background-color: rgb(251, 216, 222);
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
ul li {
    padding: 5px;
    list-style: none;
    cursor: pointer;
}
ul li::before {
    content: "";
    background-image: url("uncheck.png");
    height: 100px;
}
